<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="magewireGridProducts" type="Magewirephp\MagewireBackendGrid\Magewire\Grid">
        <arguments>
            <argument name="gridDataProvider" xsi:type="object">Magewirephp\MagewireBackendGridExample\GridDataProvider\ProductGridDataProvider</argument>
        </arguments>
    </virtualType>
</config>
