<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magewirephp_MagewireBackendGridExample::products" title="Magewire Products" translate="title" module="Magewirephp_MagewireBackendGridExample" sortOrder="10" parent="Magento_Catalog::inventory" action="magewire_grid_example/product/index" resource="Magento_Catalog::products"/>
    </menu>
</config>
